[class="st-emotion-cache-kk2g4x e1f1d6gn2"] {
  background-color: #0065a9;
}

[data-testid="stImage"] {
  background-color: aliceblue;
}
[class="st-emotion-cache-keje6w e1f1d6gn3"] {
  background-color: aliceblue;
}

[data-testid="stHorizontalBlock"] {
  padding: -300 px;
}
